?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW

?COMMENT protect from invalid
Invalid(DROP) net all tcp

?COMMENT ssh admin
ACCEPT net $FW tcp $PORT_SSH

?COMMENT dns resolution
DNS(ACCEPT) $FW net:$dns_resolvers

?COMMENT debugging
Ping(ACCEPT) net $FW
